.endMenu {
    display: block;
}

.restartButton {
    background-color: #4CAF50; /* Green */
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}