.phrase {
    margin: 50px 0 50px 10%;
    display: block;
}

.phraseAndKeyboard {
    width: 35%;
    margin-right: 0;
    display: inline-block;
}

.hangmanImg {
    width: 50%;
    display: inline-block;
}