.keyBoard {
    display: block;
    margin-left: 10%;
}

.keyBoardTouch {
    margin: 3px;
}

button {
    background-color: #4CAF50; /* Green */
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #99FF99;
}

button:active {
    background-color: #006600;
}

button:disabled {
    background-color: #505050;
    color: black;
}